.title {
    font-size: 50px;
    background-color: #eeeeee;
}

.container {
    margin-left: 0px;
}

#alViewLabelID {
    margin: 10px;
}

.gridClass {
    padding-top: 20px;
}

#findBooksID {
    width: 30%;
}
